.detail_related {
  font-style: italic;
}
.detail_related > h2 {
  font-weight: 400;
}
.product_list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.product_list > li {
  margin-right: 10px;
  text-align: center;
  width: 250px;
}
.product_list > li > img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.product_list > li > img:hover {
  opacity: 0.7;
}

.item_name {
  font-weight: 500;
  margin: 10px;
}
.item_price {
  opacity: 0.6;
  font-weight: 400;
  margin: 0;
}
