.banner {
  display: flex;
  justify-content: space-around;
  background-color: rgb(244, 245, 249);
  padding: 100px 0;
  font-style: italic;
}
.banner_title {
  width: 20rem;
}
.banner_title > h4 {
  opacity: 0.7;
  font-weight: 400;
}
.banner_title > h1 {
  font-weight: 500;
  margin: 10px 0;
}
.banner_title > button {
  width: 200px;
  height: 35px;
  border: none;
  background-color: rgb(56, 56, 56);
  color: white;
  cursor: pointer;
  font-size: larger;
}
.banner_logo {
  width: 250px;
}
