.cate_title {
  text-align: center;
  font-style: italic;
}
.cate_title > h4 {
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 0px;
}
.cate_title > h3 {
  font-weight: 400;
  margin-top: 0;
  font-size: x-large;
}

.cate_list {
  display: flex;
  flex-direction: column;
}
.cate_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.cate_item > img {
  border-radius: 3px;
}

.cate_item > img:hover {
  opacity: 0.7;
}
