.other_infor {
  display: flex;
  font-style: italic;
  justify-content: space-around;
  background-color: rgb(248, 249, 250);
  padding: 40px 0;
}
.other_infor > div > h2 {
  font-weight: 400;
  margin-bottom: 0;
}
.other_infor > div > p {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 0;
}

.infor_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  padding: 30px 0;
}

.infor_input > div > h2 {
  font-weight: 400;
  margin-bottom: 0;
}
.infor_input > div > p {
  opacity: 0.6;
  margin-top: 0;
}
.infor_input-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 45px;
  border: 1px solid rgb(56, 56, 56);
}
.infor_input-submit > input {
  width: 75%;
  height: 90%;
  border: none;
  padding-left: 15px;
}
.infor_input-submit > input:focus-visible {
  outline: none;
  border: none;
}

.infor_input-submit > button {
  border: none;
  background-color: rgb(56, 56, 56);
  color: white;
  width: 23%;
  height: 100%;
}
