.trending_title > h4 {
  font-weight: 400;
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 0;
}
.trending_title > h2 {
  font-weight: 500;
  font-style: italic;
  margin-top: 0;
}

.trending_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.trending_item img {
  width: 200px;
  margin-bottom: 10px;
  height: 200px;
  object-fit: contain;
}
.trending_item img:hover {
  opacity: 0.6;
}

.trending_item > li {
  width: 22%;
  min-width: 200px;
  list-style-type: none;
  text-align: center;
  font-style: italic;
  margin-bottom: 5px;
}
.name {
  font-weight: 500;
  margin: 10px;
}
.priceOpa {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  margin: 0;
}
.price {
  font-weight: 400;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .trending_item > li {
    min-width: 100px;
  }
  .trending_item img {
    width: 100px;
    height: 100px;
  }
  .trending_item > ul {
    font-size: 10px;
  }
}
